{:mvn/repos {"cognitect-dev-tools" {:url "https://dev-tools.cognitect.com/maven/releases/"}}
 :deps      {com.datomic/client-api {:mvn/version "1.0.58"}
             ;; min. supported clojure version
             org.clojure/clojure    {:mvn/version "1.10.3"}}
 :paths     ["src"]
 :aliases   {:mbrainz {:extra-paths ["repl" "test"]
                       :extra-deps  {com.datomic/dev-local            {:mvn/version "1.0.243"}
                                     io.aviso/pretty                  {:mvn/version "1.1.1"}
                                     com.walmartlabs/lacinia          {:mvn/version "1.1"}
                                     com.walmartlabs/lacinia-pedestal {:mvn/version "1.1"}
                                     org.slf4j/slf4j-nop              {:mvn/version "1.7.36"}}
                       :exec-fn     user/start-mbrainz-via-deps!}
             :repl    {:extra-paths ["repl" "test" "examples"]
                       :extra-deps  {com.datomic/dev-local            {:mvn/version "1.0.243"}
                                     io.aviso/pretty                  {:mvn/version "1.1.1"}
                                     com.walmartlabs/lacinia          {:mvn/version "1.1"}
                                     com.walmartlabs/lacinia-pedestal {:mvn/version "1.1"}
                                     org.slf4j/slf4j-nop              {:mvn/version "1.7.36"}}}
             :test    {:extra-paths ["test" "examples"]
                       :extra-deps  {lambdaisland/kaocha     {:mvn/version "1.66.1034"}
                                     com.datomic/dev-local   {:mvn/version "1.0.243"}
                                     io.aviso/pretty         {:mvn/version "1.1.1"}
                                     com.walmartlabs/lacinia {:mvn/version "1.1"}
                                     org.slf4j/slf4j-nop     {:mvn/version "1.7.36"}}
                       :main-opts   ["-m" "kaocha.runner"]}}}