{:mvn/repos {"cognitect-dev-tools" {:url "https://dev-tools.cognitect.com/maven/releases/"}}
 :deps      {com.datomic/client-api {:mvn/version "1.0.58"}
             ;; min. supported clojure version
             org.clojure/clojure    {:mvn/version "1.10.3"}}
 :paths     ["src"]
 :aliases   {:repl {:extra-deps {com.datomic/dev-local   {:mvn/version "1.0.243"}
                                 io.aviso/pretty         {:mvn/version "1.1.1"}
                                 com.walmartlabs/lacinia {:mvn/version "1.1"}}}
             :test {:extra-paths ["test"]
                    :extra-deps  {com.datomic/dev-local   {:mvn/version "1.0.243"}
                                  io.aviso/pretty         {:mvn/version "1.1.1"}
                                  com.walmartlabs/lacinia {:mvn/version "1.1"}
                                  org.slf4j/slf4j-nop     {:mvn/version "1.7.36"}
                                  lambdaisland/kaocha     {:mvn/version "1.66.1034"}}
                    :main-opts   ["-m" "kaocha.runner"]}}}