name: Clojure CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '13', '15', '17' ]
        clojure: [ '1.10.3.1087', 'latest' ]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3.3.0
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java }}
    - uses: DeLaGuardo/setup-clojure@5.1
      with:
        cli: ${{ matrix.clojure }}
    - uses: s4u/maven-settings-action@v2.6.0
      with:
        servers: '[{"id": "cognitect-dev-tools", "username": "${{ secret.DEV_TOOLS_USERNAME }}", "password": "${{ secret.DEV_TOOLS_PASSWORD }}"}]'
    - run: echo '{:mvn/repos {"cognitect-dev-tools" {:url "https://dev-tools.cognitect.com/maven/releases/"}}}' > ~/.clojure/deps.edn
    - run: clojure -M:test
