name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '11', '17' ]
        clojure: [ '1.10.3.1087', 'latest' ]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3.3.0
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - uses: DeLaGuardo/setup-clojure@5.1
      with:
        cli: ${{ matrix.clojure }}
    - name: Cache Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-${{ matrix.java }}-${{ matrix.clojure }}-maven-${{ hashFiles('deps.edn') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.java }}-${{ matrix.clojure }}-maven-
    - uses: s4u/maven-settings-action@v2.6.0
      with:
        servers: '[{"id": "cognitect-dev-tools", "username": "${{ secrets.DEV_TOOLS_USERNAME }}", "password": "${{ secrets.DEV_TOOLS_PASSWORD }}"}]'
    - run: clojure -M:test
